*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #030712;
}

.wrapper {
  margin-top: 2rem;
  width: 200px; /* Largeur du carousel */
  height: 90vh; /* Hauteur ajustée pour plus de contenu vertical */
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollUp {
  to {
    top: -800px; /* Ajuster en fonction de la taille du contenu total */
  }
}

@keyframes scrollDown {
  to {
    bottom: -800px; /* Ajuster selon la taille du contenu total */
  }
}

.itemLeft,
.itemRight {
  width: 50px; /* Largeur de chaque élément */
  height: 100px; /* Hauteur de chaque élément */
  background-color: #e11d48;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  top: max(calc(100px * 8), 100%);
  animation-name: scrollUp;
}

.itemRight {
  bottom: max(calc(100px * 8), calc(100% + 100px));
  animation-name: scrollDown;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
