body{
    background: #f8f6f6;
}

.container
{

    position: relative;
    width: 200px;
    height: 200px;
}

.item{

    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(30, 68, 30);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.anim{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;  
}


.anim-1{
    margin-left: 80px;
    animation-name: animation-1;
   
    
}

.anim-2{
    margin-top: 160px;
    animation-name: animation-2;
    
}

.anim-3 {
 
  animation-name: animation-3;
 
}


@keyframes animation-3
{
    0%{
        background-color: #C51162;

    }

    33%{
        margin-top: 0;
        margin-left: 160px;
    }
    66%{
      margin-top: 160px;
      margin-left: 0;
       
       
    }

    100%{
        margin-left: 160px;
        margin-top: 160px;
        background-color: #F9A825;

    }
}

@keyframes animation-2{
    0%{


    }

    100%{
        margin-left: 160px; 
        margin-top: 0;
    }
}

@keyframes animation-1{
    0%{
        margin-top: 0;
    }

    100%{
        margin-top: 80%;
    }


   
}


